
    <li {{#if_equal item.type "folder"}}data-folder{{/if_equal}} class="context-menu-one">{{item.name}}
        {{#if item.childs}}
        <ul>
        {{#each item.childs}}
        {{> tree item=this}}
        {{/each}}
        </ul>
        {{/if}}
    </li>
