<div class="row" style="margin:0;">
  <div class="col-md-12 light-theme">
    <div class="table-top col-md-12">
      <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#cardModal">
        <i class="far fa-file"></i>
      </button>
      <button type="button" class="btn btn-warning btn-sm">
        <i class="fas fa-cog"></i>
      </button>
    </div>
    <div class="max-height-div">
      {{> table}}
    </div>
  </div>
</div>

{{#if edit}}
<div class="row" style="margin:0;">
  <div class="col-md-5">
    
  </div>
  <div class="col-md-2">...</div>
  <div class="col-md-5">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-warning btn-sm">
        <i class="fas fa-share-square"></i>
      </button>
      <button type="button" class="btn btn-success btn-sm">
        <i class="far fa-envelope"></i>
      </button>
      <button type="button" class="btn btn-danger btn-sm">
        <i class="fas fa-cog"></i>
      </button>
      <button type="button" class="btn btn-info btn-sm">
        <i class="fas fa-folder-open"></i>
      </button>
    </div>
  </div>
</div>
<div class="row" style="margin:0;">
  <div class="col-md-4 light-theme ">
    <div class="doc-title">Form</div>
    {{>form formType="edit"}}
  </div>
  <div class="col-md-3 light-theme">
    <div class="doc-title">Belgeler</div>
    <ul id="tree2">
      {{>tree item=folders.folders.[0]}}
    </ul>
  </div>
  <div class="col-md-5 light-theme">
    <div class="doc-title">İşlemler</div>
    <div>
      <div class="doc-subtitle"><span>Seçilen Klasör :</span> Adli Bilgiler</div>
      <form id="upload-widget" method="post" action="/cards/upload" class="dropzone">
        <div class="fallback">
          <input name="file" type="file" />
        </div>
      </form>
    </div>
    <div>
      <form method="POST" action="/documents">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Dosya Adı</label>
            <input type="text" class="form-control form-control-sm" id="filename" name="filename" disabled>
          </div>

          <div class="form-group col-md-6">
            <label for="roleName">Döküman Adı</label>
            <input type="text" class="form-control form-control-sm" id="name" name="name" placeholder="Döküman adı giriniz" autocomplete="off">
          </div>
        </div>

        <button type="button" class="btn btn-outline-success btn-sm">
      <i class="fas fa-plus"></i> Ekle</button>

      </form>
    </div>
  </div>
</div>
{{/if}}

<!-- Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{addTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{>form formType="add"}}
      </div>
    </div>
  </div>
</div>