<div class="row" style="margin:0;">
  <div class="col-md-12 light-theme">
    <div class="table-top col-md-12">
      <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#cardModal">
        <i class="far fa-file"></i>
      </button>
      <button type="button" class="btn btn-warning btn-sm">
        <i class="fas fa-cog"></i>
      </button>
    </div>
    <div class="max-height-div">
      {{> table}}
    </div>
  </div>
</div>

{{#if edit}}
<div class="row" style="margin:0;">
  <div class="col-md-5">

  </div>
  <div class="col-md-2">...</div>
  <div class="col-md-5">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-warning btn-sm">
        <i class="fas fa-share-square"></i>
      </button>
      <button type="button" class="btn btn-success btn-sm">
        <i class="far fa-envelope"></i>
      </button>
      <button type="button" class="btn btn-danger btn-sm">
        <i class="fas fa-cog"></i>
      </button>
      <button type="button" class="btn btn-info btn-sm">
        <i class="fas fa-folder-open"></i>
      </button>
    </div>
  </div>
</div>
<div class="row" style="margin:0;">
  <div class="col-md-4 light-theme ">
    <div class="doc-title">Form</div>
    {{>form formType="edit"}}
  </div>
  <div class="col-md-3 light-theme">
    <div class="doc-title">Belgeler</div>
    <ul id="tree2">
      {{>tree item=folders.folders.[0]}}
    </ul>
  </div>
  <div class="col-md-5 light-theme">
    <div class="doc-title">İşlemler</div>
    <div class="doc-subtitle" data-itemName></div>
    <div class="process-boxes">
      <div data-folderoptions class="process-box">
        <button data-optionitem data-key="folderEdit" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Adını Değiştir">
          <i class="far fa-edit"></i>
        </button>
        <button data-optionitem data-key="folderAdd" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Alt Klasör Ekle">
          <i class="fas fa-folder-open"></i>
        </button>
        <button data-optionitem data-key="documentAdd" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Döküman Ekle">
          <i class="fas fa-file-invoice"></i>
        </button>
        <button data-optionitem data-key="folderDelete" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Sil">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <div data-documentoptions class="process-box">
        <button data-optionitem data-key="documentEdit" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Adını Değiştir">
          <i class="far fa-edit"></i>
        </button>
        <button data-optionitem data-key="documentOpen" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Aç">
          <i class="fas fa-folder-open"></i>
        </button>
        <button   data-optionitem data-key="documentSave"type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Kaydet">
          <i class="fas fa-save"></i>
        </button>
        <button data-optionitem data-key="documentPrint" type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Yazdır">
          <i class="fas fa-print"></i>
        </button>
        <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Check in">
          <i class="fas fa-user-check"></i>
        </button>
        <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Check out">
          <i class="fas fa-user-times"></i>
        </button>
        <button data-optionitem data-key="documentDelete" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Sil">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <div data-documentsection class="process-box">
        <form id="upload-widget" method="post" action="/cards/upload" class="dropzone">
          <div class="fallback">
            <input name="file" type="file" />
          </div>
        </form>
        <div id="DocumentItems">

        </div>
        <form method="POST" action="/documents">
          <input type="hidden" name="folder" id="folder" value="" />
          <input type="hidden" name="json" id="json" value="" />

          <button type="button" class="btn btn-outline-success btn-sm">
            <i class="fas fa-plus"></i> Ekle</button>

        </form>
      </div>
      <div data-foldersection class="process-box">
        <form method="POST" action="/folders">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Klasör Adı</label>
              <input type="text" class="form-control form-control-sm" id="foldernameAdd" name="foldername" placeholder="Klasör adı giriniz"
                autocomplete="off">
            </div>

            <div class="form-group col-md-6">
              <label for="roleName">Yetki Seti</label>
              <input type="text" class="form-control form-control-sm" id="authset" name="authset" placeholder="Döküman adı giriniz" autocomplete="off">
            </div>
          </div>

          <input type="hidden" name="folder" id="folderName" value="" />

          <button type="button" class="btn btn-outline-success btn-sm">
            <i class="fas fa-plus"></i> Ekle</button>

        </form>
      </div>
      <div data-folderedit class="process-box">
        <form method="POST" action="/folders/folderId">
          <div class="form-group">
            <label for="name">Klasör Adı</label>
            <input type="text" class="form-control form-control-sm" id="foldername" name="foldername" placeholder="Klasör adı giriniz"
              autocomplete="off">
          </div>

          <button type="button" class="btn btn-outline-success btn-sm">
            <i class="fas fa-save"></i> Güncelle</button>

        </form>
      </div>
      <div data-documentedit class="process-box">
        <form method="POST" action="/documents/documentId">
          <div class="form-group">
            <label for="name">Döküman Adı</label>
            <input type="text" class="form-control form-control-sm" id="documentname" name="documentname" placeholder="Döküman adı giriniz"
              autocomplete="off">
          </div>

          <button type="button" class="btn btn-outline-success btn-sm">
            <i class="fas fa-save"></i> Güncelle</button>

        </form>
      </div>
    </div>
  </div>
</div>
{{/if}}

<!-- Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{addTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{>form formType="add"}}
      </div>
    </div>
  </div>
</div>
<input type="hidden" name="card" id="card" value="{{ card._id }}" />
<input type="hidden" name="cardtemplate" id="cardtemplate" value="{{ cardTemplate._id }}" />