body {
    background-color: #f1f1f1;
}
.container-fluid {
    padding: 15px !important;
}
.breadcrumb {
    margin: 0;
    background-color: #555;
    border-radius: 0;
}
.breadcrumb a {
    color:#fff;
}
.breadcrumb-item.active {
    color: #ddd;
}
.light-theme {
    background-color: #fff;
    border: 3px solid #f1f1f1;
    margin: 0 !important;
    padding: 15px;
}
.doc-title {
    background-color: #555;
    color: #fff;
    margin: -15px -15px 15px -15px;
    padding: 5px 15px;
}
.max-height-div {
    max-height: 221px;
    overflow-y: auto;
}
table.table tbody tr td {
    white-space: nowrap;
}
.table-top {
    background-color:#f2f2f2;
}
.form-group {
    position: relative; /* for datetimepicker */
}
a.btn-success, a.btn-danger {
    color:#fff !important;
}

.tab-content {
    border: 1px solid #ddd;
    border-top:none;
    padding:10px;
  }
  .option-edit {
    background-color:#f2f2f2;
    border:1px solid #ccc;
    margin:2px;
    position:relative;
    z-index:1;
    border-radius: 4px;
    padding:4px 12px;
  }
  .option-edit.selected {
    background-color:#ccc;
  }
  .option-edit-btn-delete {
    position:absolute;
    right:0;
    top:0;
    bottom: 0;
    background-color:#dc3545;
    z-index:2;
    color:#fff;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding:3px 12px;
  }
  .option-edit-btn-edit {
    position:absolute;
    right:55px;
    top:0;
    background-color:#449d44;
    z-index:2;
    color:#fff;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding:3px 12px;
  }