body {
    background-color: #2e2e2e;
    font-family: 'Roboto', sans-serif;
    
}
.container-fluid.content {
  padding-bottom: 80px !important;
}
.headerz {
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 30;
  font-weight: 700;
  background-color: #212121 !important;
}
.headerz a {
  color: #fff;
  fill: #fff;
}
.headerz .nav-item {
  padding-right: 3px;
}
.headerz a.nav-link {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: .2rem;
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.headerz a.nav-link:hover, .headerz a.nav-link:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.headerz .dropdown-menu {
  background-color: #212121;
}
.headerz .dropdown-item:focus, .headerz .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color:#fff;
}
.headerz .dropdown-item i {
  color:#999;
  display: inline-block;
  width:25px;
}
.header-container {
  position:relative;;
}
.header-avatar {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top:0;
  left: -50px;
  border-radius: 40px;
  overflow: hidden;
}
.header-avatar img {
  width: 100%;
  height: auto;
}
.container-fluid {
    padding: 15px !important;
}

.invalid-feedback {
  display: block;
}
.table-responsive {
  border:1px solid #ccc;
}
.table {
  margin-bottom: 0;
}
.breadcrumb {
  padding-left: 50px;
    margin: 0;
    margin-top: 56px;
    background-color: #e2e2e2;
    border-radius: 0;
    -webkit-transition: padding 0.2s; /* Safari */
    transition: padding 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.breadcrumb.gizli {
  padding-left: 50px;
  -webkit-transition: padding 0.2s; /* Safari */
    transition: padding 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.breadcrumb a {
    color:#212121;
}
.breadcrumb-item.active {
    color: #111;
    font-weight: 700;
}
.process-boxes {
  position: relative;
}
.process-box {
  display: none;
  margin-bottom: 15px;
}
[data-documentdetail] .btn-sm{
  padding: .25rem .5rem;
  font-size: .8rem;
  line-height: 1.1;
}
.document-image {
  float: left;
  margin-right: 10px;
}
.document-title {
  background-color: rgba(0,0,0,.1);
  display: inline-block;
  padding: 2px 5px;
  margin-bottom: .1rem;
  font-size: .9rem;
}
.document-image i {
  font-size: 4rem;
  color:#f00;
}
.treeCont li {
  white-space: nowrap;
}
.light-theme {
    background-color: #fff;
    border: 3px solid #f1f1f1;
    margin: 0 !important;
    padding: 15px;
}
.light-theme2 {
  background-color: #f1f1f1;
  border: 3px solid #f1f1f1;
  margin: 0 !important;
  padding: 0;
}
.light-theme h1, .page-title {
  color:#333;
  font-size: 1.4rem;
  font-weight: 400;
  border-bottom: 1px solid #999;
  padding: 0 0 .3rem;
  margin: 0 0 .8rem;
}
.dark-theme {
  background-color: #555;
  color: #fff;
}
.dark-theme hr {
  border-top:1px solid #fff;
}
.dropzone {
  border:2px dashed #4aa0f1;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 15px;
}
.dropzone:hover {
  background-color: #f2f2f2;
}
.doc-title {
    background-color: #555;
    color: #fff;
    margin: -15px -15px 15px -15px;
    padding: 5px 15px;
}
.doc-subtitle {
  background-color: #aaa;
  color:#222;
  margin: 0 0 15px;
  padding: 5px 15px;
  vertical-align: middle;
  display: none;
}
.doc-subtitle span {
  font-size: 10px;
  vertical-align: middle;
}
.max-height-div .table-responsive {
    max-height: 221px;
    overflow-y: auto;
}
[data-cardtr] {
  cursor: pointer;
}
[data-cardtr]:hover {
  background-color: #ddd !important;
}
table.table tbody tr td, table.table thead tr th {
    white-space: nowrap;
    vertical-align: middle;
}
.table-top {
    background-color:#f2f2f2;
    width: 100%;
    margin: 0 15px 15px;
}
.table-top .col-lg-5, .table-top .col-lg-7 {
  padding: 0;
}
.table-infos {
  padding: .4rem;
  font-size: .8rem;
  position: relative;
  background-color: #e2e2e2;
  font-weight: 700;
  color:#999;
}
.table-export {
  position: absolute;
  right:0;
  top:0;
}
.table-infos .btn-group-sm>.btn, .table-infos .btn-sm {
  padding: .35rem 1rem;
  font-size: .875rem;
  line-height: 1.2;
  border-radius: 0;
}
.table-infos .show>.btn-danger.dropdown-toggle:focus {
  box-shadow: transparent !important;
}
.table-infos .dropdown-menu {
  border-radius: 0;
  font-size: .8rem;
}
.table-infos .dropdown-item {
  color:#b21f2d;
}
.form-group {
    position: relative; /* for datetimepicker */
}
a.btn-success, a.btn-danger {
    color:#fff !important;
}

.tab-content {
    border: 1px solid #ddd;
    border-top:none;
    padding:10px;
    background-color: #fff;
  }
  .option-edit {
    background-color:#f2f2f2;
    border:1px solid #ccc;
    margin:2px;
    position:relative;
    z-index:1;
    border-radius: 4px;
    padding:4px 12px;
  }
  .option-edit.selected {
    background-color:#ccc;
  }
  .option-edit-btn-delete {
    position:absolute;
    right:0;
    top:0;
    bottom: 0;
    background-color:#dc3545;
    z-index:2;
    color:#fff;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding:3px 12px;
  }
  .option-edit-btn-edit {
    position:absolute;
    right:55px;
    top:0;
    background-color:#449d44;
    z-index:2;
    color:#fff;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding:3px 12px;
  }
  .right-side{
    /* margin-left:300px; */
    -webkit-transition: margin 0.2s; /* Safari */
    transition: margin 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  .right-side.gizli{
    margin-left:0;
    -webkit-transition: margin 0.2s; /* Safari */
    transition: margin 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  .toggle-right {
    position:absolute; 
    /* left:-50px;  */
    top:0; 
    background-color: #999; 
    color:#fff;
    line-height: 48px;
    display: block;
    text-align: left;
    font-size: 20px;
    padding: 0 10px;
    z-index:2;
    cursor: pointer;
    -webkit-transition: left 0.2s; /* Safari */
    transition: left 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  .toggle-right.gizli {
    left:0;
    -webkit-transition: left 0.2s; /* Safari */
    transition: left 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  /* MENU CSS */
  .nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #fff;
    position: fixed;
    left:0;
    top: 56px;
    width: 300px;
    height: 100%;
    color: #fff;
    -webkit-transition: left 0.2s; /* Safari */
    transition: left 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    z-index: 99;
  }
  .nav-side-menu.gizli {
    left:-300px;
    -webkit-transition: left 0.2s; /* Safari */
    transition: left 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  .nav-side-menu .toggler {
    background-color: #23282e;
    line-height: 48px;
    display: block;
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
  }
  .nav-side-menu .toggler:hover {
    color:#ccc;
  }
  .nav-side-menu .toggle-btn {
    display: none;
  }
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
      .collapsed{
         .arrow:before{
                   font-family: "Font Awesome 5 Free";
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
  }
  .nav-side-menu ul .active,
  .nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
  }
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
  }
  .nav-side-menu ul .sub-menu li a,
  .nav-side-menu li .sub-menu li a {
    color: #fff;
  }
  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
  }
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
  }
  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
  }
  .nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #ccc;
    background-color: #e2e2e2;
    position: relative;
  }
  .nav-side-menu li i.fa-plus-square {
    position: absolute;
    right:10px;
    top: 13px;
    color:#000;
  }
  .nav-side-menu li.active i.fa-plus-square, .nav-side-menu li:hover i.fa-plus-square {
    color:#fff;
  }
  .nav-side-menu li a {
    text-decoration: none;
    color: #222;
  }
  .nav-side-menu li.active a {
    color: #fff;
  }
  .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
  }
  .nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  @media (max-width: 767px) {
    .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
    }
    .brand {
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 50px !important;
    }
  }
  @media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
  }
  /* MENU CSS BİTTİ */

  /* tabs */
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width:3px;
    margin-right: 2px;
    border-color: #ccc #dee2e6 #f9f9f9;
    color:#999;
    background-color: #f9f9f9;
}
.nav-tabs .nav-link:hover {
  border-color: #222 #e9ecef #fff;
  background-color: #fff;
  color: #222;
}
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      color: #222;
      background-color: #fff;
      border-color: #dc3545 #dee2e6 #fff;
  }
  
/* tabs bitti */

/* yetki seti */
.list-group-item.active {
  z-index: 2;
  color: #222;
  background-color: #dee2e6;
  border-color: #babcbd;
}
.auth-list .list-group-item {
  cursor: pointer;
}
.auth-list .list-group-item::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  background-color: #eee;
  margin-right: 5px;
  vertical-align: text-top;
}
.auth-list .list-group-item:hover::before {
  background-color: #ddd;
}
.auth-list .list-group-item.selected::before {
  background-color: #dee2e6;
  border-color: #babcbd;
}
.auth-list .list-group-item.selected::after {
  position: absolute;
  display: block;
  content: "";
  left: 27px;
  top: 17px;
  width: 5px;
  height: 10px;
  border: solid #222;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
[data-auth-users] .list-group-item-action.active::after {
  position: absolute;
  display: block;
  content: "";
  right: 27px;
  top: 17px;
  width: 5px;
  height: 10px;
  border: solid #222;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.user-add, .user-remove {
  cursor: pointer;
  margin-left: 20px;
}
.user-add.disable, .user-remove.disable {
  cursor: inherit;
  color: #eee;
}

/* chat */
.chat-box {
  clear: both;
  margin-bottom: 10px;
}
.chat-box::after {
  content: '';
  display: block;
  clear: both;
}
.chat-box .chat-avatar{
  width: 50px;
  height: 50px;
  background-color: #dc3545;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  font-size: 2rem;
  color:#fff;
  float: left;
}
.chat-box .chat-text{
  width: 80%;
  float: right;
  font-size: .9rem;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 25px;
  border-top-left-radius: 5px;
  line-height: 120%;
}
.chat-box .chat-info{
  width: 80%;
  float: right;
  font-size: .8rem;
  color: #999;
  padding: 5px 15px;
}
.chat-box .chat-info::after {
  content: '';
  clear: both;
}
.chat-box:nth-child(even) .chat-avatar{
  float: right;
}
.chat-box:nth-child(even) .chat-text{
  float: left;
  background-color: #f0f0f0;
  border-top-left-radius: 25px;
  border-top-right-radius: 5px;
}
.chat-box:nth-child(even) .chat-info{
  float: left;
}

/* notes */
#note-container {
  max-height: 200px;
  overflow-y: auto;
}

/* tooltip */
span.tooltip {
  position: absolute;
  width: 128px;
  height: 48px;
  line-height: 48px;
  padding: 0px 16px 0px 8px;
  font-size: 22px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(96, 172, 57);
  border: 0px 0px 0px 0px none none none none rgb(255, 255, 255) rgb(70, 126, 42) rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 0px 3.2px 3.2px 0px;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
  box-shadow: rgb(85, 153, 51) -4px 0px 4px 0px inset;
}

span.tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 24px;
  border-style: solid;
  border-color: transparent #60AC39 transparent transparent;
  top: 0px;
  left: -48px;
}
/* messageBox */
#messageBox .modal-body {
  padding: .75rem;
}
#messageBox .modal-header {
  padding: .75rem;
  color:#222;
}
#messageBox .modal-header.danger {
  border-bottom-color: #bd2a38;
}
#messageBox .modal-content.danger {
  background-color: #dc3545;
  color: #fff;
}
#messageBox .modal-header.success {
  border-bottom-color: #60AC39;
}
#messageBox .modal-content.success {
  background-color: #60AC39;
  color: #fff;
}

/*filrer box*/
.filter-box, .filter-box input, .filter-box div, .filter-box span {
  line-height: 1rem;
  font-size: .75rem;
}
#deleteFilter {
  cursor: pointer;
}

[data-selectall] {
  font-size: .75rem;
  cursor: pointer;
}
[data-selectall]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  background-color: #eee;
  margin-right: 5px;
  vertical-align: text-top;
}
[data-selectall]:hover::before {
  background-color: #ddd;
}
[data-selectall].selected::before {
  background-color: #dee2e6;
  border-color: #babcbd;
}
[data-selectall].selected::after {
  position: absolute;
  display: block;
  content: "";
  left: 23px;
  top: 10px;
  width: 5px;
  height: 10px;
  border: solid #222;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* yetki */
[data-ca] {
  display: none;
}
/* mail sender*/
.mail-body .row {
  margin-bottom: .5rem;
}
.text-cont-cont {
  position:relative;
  width: 280px;
}
.text-cont {
  position: absolute;
  top:2px;
  width: 250px;
  text-overflow: ellipsis;
  overflow:hidden;
  display: inline-block;
}
.text-cont:hover {
  overflow: visible;
  margin-bottom: 1px;
}

#dvSearchBar {
  border: 1px solid #4aa0f1;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f7f7f7;
  display: none;
}
.search-box {
  border:1px solid #999;
  padding: 15px;
  margin: 5px 0 52px 0;
  position: relative;
  background-color: #fff;
}
.search-box::after {
  content: '{ OR }';
  display: block;
  position: absolute;
  bottom: -50px;
  left:0;
  right:0;
  border:1px solid #ccc;
  padding: 5px 15px;
  margin: 5px 0;
  background-color: #fff;
}
.search-box:last-child {
  margin: 5px 0;
}
.search-box:last-child::after {
  display: none;
  content: '';
}

.search-box .row {
  margin-bottom: .2rem;
}

[data-search-delete] {
  display: none;
}

[data-search-all] {
  display: none;
}

/* types */
.type-item {
  padding:.35rem .7rem;
  background-color: #f8f9fa;
}
.type-item:hover {
  background-color: #f2f2f2;
}
/* types end */

.tabulator .tabulator-tableHolder {
  min-height: 55px;
}
.tabulator .tabulator-tableHolder .tabulator-placeholder span {
  font-weight: normal;
  font-size: 20px;
}

/* bootstrap owerride */
.btn-group-sm2>.btn, .btn-sm2 {
  padding: .2rem .2rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: .2rem;
  margin-left: 5px;
} 

/* user settings */
.avatar-container {
  width:200px; 
  height:200px; 
  margin:auto;
  cursor: pointer;
  position: relative;
}
.avatar-container .avatar {
  border-radius: 100px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #2e2e2e;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
  overflow: hidden;
}
.avatar-container img {
  width:100%;
  height: auto;
}
.avatar-container .avatar-button {
  position: absolute;
  bottom:0;
  left: 50%;
  transform:translateX(-50%);
  border-radius: 20px;
  background-color: #2e2e2e;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
  overflow: hidden;
  white-space: nowrap;
}
.avatar-container .avatar-button span {
  display: inline-block;
  padding: 2px 5px;
}
.avatar-container .avatar-button span.part-1 {
  padding-left: 10px;
}
.avatar-container .avatar-button span.part-2 {
  padding-right: 10px;
  background-color: #ad2125;
}
/* user settings bitti */

/* docbox */
.docbox {
  border:2px solid #444;
  height: 84px;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  background-color: #555;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-box-shadow: -1px 2px 4px -1px rgba(0,0,0,0.46);
-moz-box-shadow: -1px 2px 4px -1px rgba(0,0,0,0.46);
box-shadow: -1px 2px 4px -1px rgba(0,0,0,0.46);
}
.docbox:hover {
  border:2px solid #ff9800;
}
.docbox .docbox-image {
  width: 80px;
  height: 80px;
  background-color: #444;
}
.docbox .docbox-image img {
  width: 80%;
  height: auto;
  margin: 10%;
}
.docbox .docbox-content {
  flex: 1;
  height: 80px;
  position: relative;
}
.docbox .docbox-content .docbox-name {
  position: absolute;
  left: 10px;
  top:5px;
  font-weight: 600;
  color:#fff;
}
.docbox .docbox-content .docbox-date {
  position: absolute;
  left: 10px;
  bottom:5px;
  color: #7a7a7c;
}
/* docbox bitti */